# canonical name and email                                  alias to rewrite
Wenpeng Cai <83854350+TXJ-DSK@users.noreply.github.com>     TXJ-DSK <83854350+TXJ-DSK@users.noreply.github.com> 
Mercy Muiruri <mercymuiruri2027@u.northwestern.edu>         Mercy Muiruri <147347796+merc-cyy@users.noreply.github.com>
Mercy Muiruri <mercymuiruri2027@u.northwestern.edu>         merccyy <mercymuiruri2027@u.northwestern.edu>
Lianhao Zheng <lianhaoz06@gmail.com>                        Lianhao Zheng <128833289+LianhaoZ@users.noreply.github.com>
Catherine Jeschke <catherine.c.jeschke@gmail.com>           catejes <catherine.c.jeschke@gmail.com>
Mitchell Kaszuba <ksz@u.northwestern.edu>
